<div class="carousel-container">
  <div class="carousel-photo-frame">

    <img *ngFor="let photos of photosData;let i = index" [ngClass]="{'active' : photos.active,'prev' : photos.prev,'next':photos.next}"  class="carousel-img" src="{{photos.url}}" alt="{{i}}">
  </div>
  <button *ngIf="inputControl" class="btn-prev"><</button>
  <button *ngIf="inputControl" class="btn-next" (click)="moveNext()">></button>
</div>
<!--<p>active: {{isActive}}</p>
<p>next: {{isNext}}</p>
<p>prev: {{isPrev}}</p>
<pre>{{photosData | json}}</pre>-->

