<div class="carousel-container">
  <div class="carousel-photo-frame" *ngFor="let photos of photosData;let i = index"
       [ngClass]="{
       'active' : photos.active,
       'prev' : photos.prev,
       'next':photos.next,
       'activeBack':isMovePrev && photos.active,
       'prevBack':isMovePrev && photos.next,
       'nextBack':isMovePrev && photos.prev
       }">

    <img  class="carousel-img" src="{{photos.url}}" alt="{{i}}">
    <div class="bg-carousel-img" [style.background-image]="'url(' + photos.url + ')'" ></div>

  </div>
  <button *ngIf="inputControl" class="btn-prev" (click)="moveBack()"><</button>
  <button *ngIf="inputControl" class="btn-next" (click)="moveNext()">></button>

  <div class="dot-container">
    <ul class="list-dot">
      <li class="dot" *ngFor="let photos of photosData;let i = index" [ngClass]="{'active' : photos.active}">
      </li>
    </ul>
  </div>
</div>
<!--<p>active: {{isActive}}</p>
<p>next: {{isNext}}</p>
<p>prev: {{isPrev}}</p>
<pre>{{photosData | json}}</pre>-->

